
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(147, 151, 184);
    height: 100%;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(193, 39, 231);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

h2.titulo{
    color: blueviolet;
    font-size: 40px;
    font-weight: 20px;
    text-align: center;
}
/* ESTILO DO CABEÇALHO */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

header a:hover{
    color: blueviolet;
    transform: scale(1.05);
    transition: .2s;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 35px;
}

.btn-contato button:hover{
   box-shadow: 0px 0px 8px rgba(137, 43, 226, 0.808);
   transform: scale(1.05);
   transition: 0.2s;
}

/* STILO DO TOPO DO SITE */

section.topo-do-site{
    padding: 40px 4%;
}
section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.topo-do-site h1{
    font-size: 42px;
    font-weight: 600;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: blueviolet;
    font-size: 80px;
}

.topo-do-site .txt-topo-site p{
    font-weight: 300;
    margin: 40px 0;
}
.foto{
    border: blueviolet solid 5px;
    border-radius: 35% 15px;
}

.topo-do-site .img-topo-site{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate; 
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top:30px;
    }
}

/* ESTILO DAS HABILIDADES */

.section .habilidades{
    padding: 40px 4%;
}

.section .habilidades .flex{
    gap: 60px;

}

.habilidades .box{
    color: rgb(245, 245, 245);
    padding: 40px;
    border: 2px solid white;
}

.habilidades .box i{
font-size: 70px;
color: blueviolet;
}

.habilidades.box h3{
font-size: 18px;
margin: 15px 4%;
}